.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
.nav {
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}
.img {
  height: 10rem;
  width: 10rem;
}
