@font-face {
  font-family: "NeueMachina";
  src: url("./Assets/Assets-fonts/NeueMachina-Black.otf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "NeueMachina";
  src: url("./Assets/Assets-fonts/NeueMachina-Bold.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "NeueMachina";
  src: url("./Assets/Assets-fonts/NeueMachina-Light.otf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "NeueMachina";
  src: url("./Assets/Assets-fonts/NeueMachina-Medium.otf") format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "NeueMachina";
  src: url("./Assets/Assets-fonts/NeueMachina-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "NeueMachina";
  src: url("./Assets/Assets-fonts/NeueMachina-Ultrabold.otf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "NeueMachina";
  src: url("./Assets/Assets-fonts/NeueMachina-Ultralight.otf")
    format("truetype");
  font-weight: 200;
}

* {
  font-family: "NeueMachina";
}
